<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".SmartAgricultureApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/green_modern_agricultural_machinery_logo_"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAgricultureStartUpApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartAgricultureStartUpApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--soil type activities-->
        <activity
            android:name="com.muss_coding.soil_type.SoilClassificationActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity
            android:name="com.muss_coding.soil_type.WebActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity
            android:name="com.muss_coding.soil_type.news_article"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>


        <activity
            android:name="com.muss_coding.soil_type.regionWise"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <!--crop recommendation activities-->
        <activity
            android:name="com.muss_coding.crop_recommendation.MyQuestionPolls"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.ReportLobby"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.UserPolls"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.UserRegistration"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.AskQuestion"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.QuizSection"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.Report"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.CheckCropForm"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.Dashboard"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name="com.muss_coding.crop_recommendation.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.muss_coding.crop_recommendation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.muss_coding.irrigation.IrrigationActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>


    </application>

</manifest>